* {
    font-size: 14px;
}

html,
body {
    margin: 0;
    padding: 0;
}

#feeds {
    list-style: none;
    margin: 0;
    padding: 4px;
}

li.rssLink {
    align-items: center;
    display: flex;
    list-style: none;
    padding: 2px;
}

li.rssLink:hover {
    background-color: #ffe9b2;
}

.rssUrl {
    display: block;
    max-width: 300px;
    min-width: 200px;
    overflow: hidden;
    padding: 2px;
    text-overflow: ellipsis;
}

li.rssLink > div {
    flex: 1;
}

li.rssLink:not(:last-child) {
    /*border-bottom: 1px solid #efefef;*/
}

li.rssLink:nth-child(2n) {
    background-color: #efefef;
}
li.rssLink:nth-child(2n):hover {
    background-color: #ffe9b2;
}

#copyButton {
    background-color: var(--light-button-color);
    border: 0px;
    border-radius: 2px;
    color: #222;
    float: right;
    margin-left: 5px;
    padding: 4px;
}

#copyButton:hover {
    background-color: var(--light-button-hover);
    cursor: pointer;
    color: #ffffff;
}

#copyButton:active {
    -webkit-box-shadow: inset 0px 0px 15px 5px #003D51; 
    box-shadow: inset 0px 0px 15px 5px #003D51;
    color: #ffffff;
}


/* Footer */
footer {
    align-items: center;
    background-color: #F4B83F;
}

footer > ul {
    color: #222;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer > ul > li {
    margin: 0;
    padding: 0;
}

footer > ul > li > a {
    display: block;
    padding: 5px;
    text-decoration: none !important;
    color: #222;
}

footer > ul > li > a:hover {
    background-color: rgb(252, 225, 168);
}

@media (prefers-color-scheme: dark)  {
    body {
        background-color: var(--dark-bg-color);
        color: var(--dark-color);
    }

    a {
        color: var(--dark-link-color);
    }
}