body,
html {
	margin: 0;
	padding: 0;
}

body {
	border-top: 1px solid #ccc;
	width: 500px;
}

.small-dropshadow {

}

.options {    
    max-height: 300px;
    overflow-y: scroll;
    padding: 0 15px 15px;
}

footer {
	background-color: #eee;
	border-top: 1px solid #ccc;
	display; flex !important;
	padding: 10px 20px;
	text-align: center;
}

footer > div {
	flex: 1;
}

.col2 {
	/* width: 49%; */
}
.col2:not(:last-child) {
	border-right: 1px solid #ccc;
}