* {
    font-size: 1rem;
}

html,
body {
    margin: 0;
    padding: 0;
}

#feeds {
    list-style: none;
    margin: 0;
    padding: 4px;
}

li.rssLink {
    align-items: center;
    display: flex;
    list-style: none;
    padding: 2px;
}

li.rssLink:hover {
    background-color: #ffe9b2;
}

.rssUrl {
    display: block;
    max-width: 300px;
    min-width: 200px;
    overflow: hidden;
    padding: 2px;
    text-overflow: ellipsis;
}

li.rssLink > div {
    flex: 1;
}

li.rssLink:not(:last-child) {
    /*border-bottom: 1px solid #efefef;*/
}

li.rssLink:nth-child(2n) {
    background-color: #efefef;
}
li.rssLink:nth-child(2n):hover {
    background-color: #ffe9b2;
}

#copyButton {
    background-color: #F4B83F;
    border: 0px;
    border-radius: 2px;
    color: #222;
    float: right;
    margin-left: 5px;
    padding: 4px;
}

#copyButton:hover {
    background-color: rgb(253, 173, 0);
    cursor: pointer;
}


/* Footer */
footer {
    align-items: center;
    background-color: #F4B83F;
    display: none; /*flex;*/
}

footer > ul {
    color: #222;
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    padding: 0;
    text-decoration: none !important;
}

footer > form {
    background-color: #fff;
    display: block;
    height: 100%;
    margin: -1px 0 0 0 !important;
    overflow: hidden;
    padding: 0 0 1px 0 !important;
}

footer>form>input {
    vertical-align: middle;
}

footer>form>input[name="submit"] {
    padding: 4px;
}

footer>form>input[name="submit"]:hover {
    cursor: pointer;
}

footer>ul>li {
    margin: 0;
    padding: 0;
    float: left;
}

footer>ul>li>a {
    display: block;
    padding: 5px;
    text-decoration: none !important;
    color: #222;
}

footer>ul>li>a:hover {
    background-color: rgb(252, 225, 168);
}